body {
    background-color:blue;
  }

.display{
    background-color: white;
}
a:hover {
    text-decoration: underline;
    color:green;
  }
a{
      color: black;
      text-decoration: none;
  }
  
  .green{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: green;
  }
  .green:hover{
      color: unset;
  }